.main-pane
{
    -fx-background-color: transparent;
}

.first-pane
{
    -fx-background-color: #0D0F11;
}

.first-pane TextField, PasswordField
{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;

    -fx-pref-width: 320;
    -fx-pref-height: 40;
}

.first-pane Button
{
    -fx-pref-width: 320;
    -fx-pref-height: 40;

    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(to left, #1f2266, #2c338b, #3f48cc);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.first-pane Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left, #6d201b,#9c2e26, #bd382e);
}

.via-pane
{
    -fx-background-color: #181b1f;
    -fx-opacity: 0.7;
}